@import "tailwindcss";

:root {
  --background: oklch(1 0 0);
  --foreground: #171717;
  --blue: oklch(0.4182 0.130852 253.4635);
}

@theme {
  --font-roboto: "var(--font-roboto)";
  --font-sans: var(--font-inter);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue: var(--blue);
}